.image-div {
  margin-bottom: 0;
}

.image {
  width: 250px;
}

.list-item {
  width: 250xp;
  margin: 20xp;
  background-color: #334155;
  list-style: none;
}

.countries-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #334155;
}

.country-name {
  color: #ffffff;
}
.button {
  color: #ffffff;
  background-color: transparent;
  height: 30px;
  width: 60px;
  margin-top: auto;
  margin-bottom: auto;
  border: 1px solid #ffffff;
  border-radius: 5px;
}
